@import "tailwindcss";
.input {
  @apply w-full h-11 px-3 border border-slate-300 rounded-xl outline-none focus:border-blue-500;
}
.sidebar-scroll::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Hide Microsoft Edge / IE password reveal button */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}